body {
    background-color: burlywood
    color beige;
    font-family: Arial;

    ;
}

main {
    text-align: center;
    width: 300px;
    margin: auto;
    background-color: #202020;
    padding: 20px;
    border: 1px solid lightgrey;
}